@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    text-align: center;
}

header p{
}

h1, h2, p{
    padding-bottom: 10px;
    
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 40px;
}

.flexivel{
    background-color: lightgray;
    display: flex;
    flex-flow: column nowrap;
}

.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.media img{
    width: 400px;
    display: block;
    margin: auto;
}

.media iframe{
    display: block;
    margin: auto;
    width: 90%;
}

.text{
    flex: 1 1 500px;
}

.media{
    flex: 1 0 400px;
}